<div class="container">
        <div class="container">
            <app-search class="" [model]="model" (newItemEvent)="setSearchText($event)"></app-search>
        </div>
        <div class="container">
            <app-carousel-trailer-images class="" [model]="model"></app-carousel-trailer-images>
            <app-info [model]="model"></app-info>
            <app-details [model]="model"></app-details>
            <app-social-links [model]="model"></app-social-links>
            <app-system-requirements [model]="model"></app-system-requirements>
        </div>
</div>