<div class="container">
    <div class="card mt-4 text-white main-color" id="main-admin-card">
        <h1 class="card-header">General</h1>
        <div class="card-body text-center">
            <div *ngIf="loading" class="spinner-border spinner-border-sm"></div>
            <div *ngIf="userFromApi">
                <h4 *ngIf="currentUser.firstName">Welcome: {{currentUser.firstName}} !!!</h4>
                <h4>Here you can see all your purchases and info</h4>
            </div>
            <div class="container mt-5">
                <div id="accordionSearch">
                    <div class="card main-color">
                        <div class="" id="headingThree">
                            <button class="btn collapsed w-100 h-100 border-primary text-white" data-toggle="collapse" data-target="#collapseSearchThree"
                                aria-expanded="false" aria-controls="collapseSearchThree">
                                <h4>Bought games</h4>
                            </button>
                        </div>
                        <div id="collapseSearchThree" class="collapse" aria-labelledby="headingThree"
                            data-parent="#accordionSearch">
                            <div class="card-body list-group">
                                <div class="row">

                                    <div class="col-lg-4 col-md-6 mt-3" *ngFor="let product of products">
                                        <div class="card bg-secondary">
                                            <img src="{{product.imageUrl}}" class="card-img-top" alt="Product Image">
                                            <div class="card-body">
                                                <h6 class="card-title">{{product.name}}</h6>
                                                <p class="card-text">Price : ${{product.price}}</p>
                                                <!--<p class="card-text">Quantity : {{product.quantity}}</p>-->
                                            </div>
                                            <div class="text-center mb-1">
                                                <div class="btn-group" role="group" aria-label="Basic example">
                                                    <button type="button" class="btn btn-info" [routerLink]="['/product/get', product.id]"><svg
                                                            width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-book-half"
                                                            fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                            <path fill-rule="evenodd"
                                                                d="M12.786 1.072C11.188.752 9.084.71 7.646 2.146A.5.5 0 0 0 7.5 2.5v11a.5.5 0 0 0 .854.354c.843-.844 2.115-1.059 3.47-.92 1.344.14 2.66.617 3.452 1.013A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.276-.447L15.5 2.5l.224-.447-.002-.001-.004-.002-.013-.006-.047-.023a12.582 12.582 0 0 0-.799-.34 12.96 12.96 0 0 0-2.073-.609zM15 2.82v9.908c-.846-.343-1.944-.672-3.074-.788-1.143-.118-2.387-.023-3.426.56V2.718c1.063-.929 2.631-.956 4.09-.664A11.956 11.956 0 0 1 15 2.82z" />
                                                            <path fill-rule="evenodd"
                                                                d="M3.214 1.072C4.813.752 6.916.71 8.354 2.146A.5.5 0 0 1 8.5 2.5v11a.5.5 0 0 1-.854.354c-.843-.844-2.115-1.059-3.47-.92-1.344.14-2.66.617-3.452 1.013A.5.5 0 0 1 0 13.5v-11a.5.5 0 0 1 .276-.447L.5 2.5l-.224-.447.002-.001.004-.002.013-.006a5.017 5.017 0 0 1 .22-.103 12.958 12.958 0 0 1 2.7-.869z" />
                                                        </svg> View</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card main-color mt-5 mb-5">
                        <div class="" id="headingThree2">
                            <button class="btn collapsed w-100 h-100 border-primary text-white" data-toggle="collapse" data-target="#collapseSearchThree2"
                                aria-expanded="false" aria-controls="collapseSearchThree2">
                                <h4>User info</h4>
                            </button>
                        </div>
                        <div id="collapseSearchThree2" class="collapse" aria-labelledby="headingThree2"
                            data-parent="#accordionSearch">
                            <div class="card-body list-group">
                                <div class="container-fluid mb-4">
                                    <div class="row justify-content-around">
                                        <div class="col-sm-4 b-3">
                                            <div class="container-fluid">
                                                <span class="main-font-color">Name</span>
                                                <div *ngIf="currentUser.firstName">{{currentUser.firstName}}</div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4 mb-3">
                                            <div class="container-fluid">
                                                <span class="main-font-color">Last name</span>
                                                <div *ngIf="currentUser.lastName">{{currentUser.lastName}}</div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4 mb-3">
                                            <div class="container-fluid">
                                                <span class="main-font-color">Username</span>
                                                <div *ngIf="currentUser.username">{{currentUser.username}}</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row justify-content-around">
                                        <div class="col-sm-4 b-3">
                                            <div class="container-fluid">
                                                <span class="main-font-color">Role</span>
                                                <div *ngIf="currentUser.role">{{currentUser.role}}</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>