<div class="container">
    <div class="card mt-4 text-white main-color" id="main-admin-card">
        <h1 class="card-header">General</h1>
        <div class="card-body text-center">
            <div *ngIf="loading" class="spinner-border spinner-border-sm"></div>
            <div *ngIf="userFromApi">
                <h4>Welcome: {{userFromApi.firstName}} !!!</h4>
            </div>
            <div class="container mt-5">
                <div id="accordionSearch">
                    <div class="card main-color">
                        <div class="" id="headingThree">
                            <button class="btn collapsed w-100 h-100 border-primary text-white" data-toggle="collapse" data-target="#collapseSearchThree"
                                aria-expanded="false" aria-controls="collapseSearchThree">
                                <h4>Lattest news</h4>
                            </button>
                        </div>
                        <div id="collapseSearchThree" class="collapse" aria-labelledby="headingThree"
                            data-parent="#accordionSearch">
                            <div class="card-body list-group">
                                <button class="btn btn-secondary mb-2 mt-2 w-100 h-100 p-4" [routerLink]="['/product/get', product.id]"
                                    *ngFor="let product of products$ | async">
                                    <div class="row">
                                        <div class="col-sm-5">
                                            <img class="img-fluid main-color" src="{{product.imageUrl}}"/>
                                        </div>
                                        <div class="col-sm-7 d-flex mx-auto my-auto">
                                            <div class="container">
                                                <div class="row">
                                                    <div class="col-sm-6 text-center mb-2">{{product.name}}</div>
                                                    <div class="col-sm-6 text-center">{{product.description}}</div>
                                                </div>
                                            </div>
                                           
                                        </div>
                                    </div>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container text-white">
        <div class="card mt-4 text-white" id="main-home-card">
            <h4 class="card-header">
                <h1>Start Shopping</h1>
            </h4>
            <div class="card-body">
                <div class="mt-4 main-color">
                    <a class="btn btn-primary btn-lg main-color w-100 h-100"
                       [routerLink]="['product/list']"
                       role="button">Game store</a>
                </div>
            </div>
        </div>
    </div>
</div>
