@import "~bootstrap/dist/css/bootstrap.css";

a {
  cursor: pointer;
}

body {
  background-color: #121212;
}

.app-container {
  min-height: 320px;
  overflow: hidden;
}

.btn-delete-user {
  width: 40px;
  text-align: center;
  box-sizing: content-box;
}
